/* Footer.css */

.main-footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-logo {
    height: 40px; /* Adjust the height as needed */
    margin: 0 10px; /* Space between social media logos */
}

.contact-info {
    text-align: right;
}

.contact-info p {
    margin: 0;
    color: #343a40;
    font-size: 16px;
}
